<!doctype html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

  <body>

		<%- include('./partials/nav.ejs') %>
  <body>
    <nav>
			<div class="site-title">
					<a href="/">node Tutorial</a>
					<p>My site node Tutorial</p>
			</div>
			<ul>
				<li><a href="/">Blogs</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blogs/create">New Blog</a></li>
			</ul>
		</nav>
		<div class="about content">
			<h2>About Page</h2>
			
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur suscipit minus veritatis, sapiente adipisci dolor perferendis! Iste, repellat fugiat consequuntur vero fuga alias voluptas quis itaque excepturi, quaerat rem quos.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur suscipit minus veritatis, sapiente adipisci dolor perferendis! Iste, repellat fugiat consequuntur vero fuga alias voluptas quis itaque excepturi, quaerat rem quos.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur suscipit minus veritatis, sapiente adipisci dolor perferendis! Iste, repellat fugiat consequuntur vero fuga alias voluptas quis itaque excepturi, quaerat rem quos.</p>
		</div>
		<%- include('./partials/footer.ejs') %>
</body>
</html>